/* fonts ---------------------------------------------------------- */
/* fonts for welcome screen header */
@font-face {
    font-family: 'NunitoSans';
    src: url('/fonts/NunitoSans-Regular.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'NunitoSans';
    src: url('/fonts/NunitoSans-Black.ttf') format('truetype');
    font-weight: bold;
}
/* fonts for h2-h6 headers */
@font-face {
    font-family: 'Mada';
    src: url('/fonts/Mada-Regular.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'Mada';
    src: url('/fonts/Mada-Bold.ttf') format('truetype');
    font-weight: bold;
}
/* fonts for paragraph text */
@font-face {
    font-family: 'Muli';
    src: url('/fonts/Muli-Regular.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'Muli';
    src: url('/fonts/Muli-Bold.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'Muli';
    src: url('/fonts/Muli-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
/* fade in animation, translates text while opacity increases */
@keyframes fade-in {
    from {
      opacity: 0;
      transform: translate(-2rem, -1rem);
    }
    to {
      opacity: 1;
      transform: translate(0, 0);
    }
}
/* custom global variables */
:root {
    --standard-font-size: 1rem;
    --header-font-size: 2rem;
    --welcome-font-size: 4rem;
    --highest-priotity: 999;
    --nav-offset: 6rem;
    --right-left-margin: 6rem;
    --link-trans-time: 0.3s;
    /* commonly used colors */
    --pure-white: #fff;
    --geo-white: #fafafa;
    --geo-gray: #ececec;
    --one-in-mill-white: #ebebeb;
    --one-in-mil-gray: #e1e1e1;
    --accent-black: #333;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
    font-size: var(--standard-font-size);
}
html {
    scroll-behavior: smooth;
}
/* nav bar style ---------------------------------------- */
header {
    font-family: 'Muli', sans-serif;
    display: flex;
    padding: 0 5rem;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--nav-offset);
    background-color: var(--accent-black);
    box-shadow: 0 0.5vmin 1vmin 0 rgba(0, 0, 0, 0.2);
    z-index: var(--highest-priotity);
}
#nav-logo {
    height: 3rem;
    width: auto;
}
header a { /* applies to nav and button links */
    text-decoration: none;
}
#main-nav a {
    font-weight: normal;
    color: var(--one-in-mil-gray);
    transition: all var(--link-trans-time) ease-in-out;
}
#main-nav a:hover {
    color: var(--pure-white);
    font-weight: bold;
}
#main-nav-ul li {
    display: inline-block;
    padding: 0 2rem;
}
button {
    padding: 0.6rem 1rem;
    font-size: 0.8rem;
    background-color: var(--one-in-mil-gray);
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: all var(--link-trans-time) ease-in-out;
}
button:hover {
    background-color: var(--pure-white);
}
/* main style ------------------------------------------ */
/* apply to all sections */
section {
    padding: 0 var(--right-left-margin);
    padding-top: var(--nav-offset);
    height: 100vh;
    width: 100vw;
    /* margin-top: var(--nav-offset); */
}
h2, h3, h4, h5, h6 {
    font-family: 'Mada';
    font-size: var(--header-font-size);
}
/* home section -------------- */
#home {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/images/geometry.png');
    background-repeat: repeat;
    background-position: center;
}
#home-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fade-in 2s ease-out forwards;
}
#home-text h1{
    font-family: 'NunitoSans', sans-serif;
    font-weight: bold;
    font-size: var(--welcome-font-size);
    margin-bottom: 1rem;
}
#home-text p {
    font-size: var(--standard-font-size);
}
/* about section ------------- */
#about {
    background-color: var(--geo-gray);
    display: flex;
    align-items: center;

}
/* contact section ----------- */
#contact {
    height: 88vh;
}
/* footer style ---------------------------------------- */
footer {
    height: 12vh;
    background-color: var(--accent-black);
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
footer p {
    color: var(--one-in-mil-gray);
    margin-left: 5rem;
}

/* 
background images from:
https://www.toptal.com/designers/subtlepatterns/one-in-a-million-s/
https://www.toptal.com/designers/subtlepatterns/inspiration-geometry/
*/